.ordering-form
	background: var(--main-color)
	padding: 65px 90px

	&__title
		font-size: rem(24)
		color: #fff
		margin-bottom: 40px

	&-cont
		margin: 95px 0 105px
		.form
			&-wrap
				display: flex
				margin: 0 0 -30px -30px

		.forms__input
			&-cont
				width: calc((100% - 30px * 3) / 3)
				margin: 0 0 30px 30px