:root
	--default-font: "Montserrat", Arial, sans-serif
	--base-width: 1260px
	--main-color: #1A2852
	--second-color: #D3990B
	--border-color: #eef2f5

	--box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15)