@import "../css/common.css"

@import "_vars.sss"
@import "_base.sss"
@import "_text-styles.sss"
@import "_form-elements.sss"

@import "_header.sss"
@import "_main-banner.sss"
@import "_statistic.sss"
@import "_accordion.sss"
@import "_testemonials.sss"
@import "_tabs.sss"


@import "_footer.sss"

