.accordion-cont
	.wrapper
		.accordion
			.accordion-title Защитим любой объект, любым способом в любом городе
			.accordion__list
				.accordion__item
					.accordion__item-top
						span.accordion-ico
							img(src="img/accordion-1.svg", alt="")
						span.accordion__item-title Защита интеллектуальной собственности
						.accordion__item-arrow
					.accordion__item-bot
						.services__list
							a(href="").services__item
								.services__item-img
									img(src="img/serv-1.svg", alt="")
								.services__item-title Патентное право
								.services__item-text Патентные поверенные нашей фирмы представляют интересы клиентов по ведению дел, касающихся всех вопросов, связанных с регистрацией прав на объекты интеллектуальной собственности
								.btn Мне сюда
							a(href="").services__item
								.services__item-img
									img(src="img/serv-2.svg", alt="")
								.services__item-title Авторские права
								.services__item-text Патентные поверенные нашей фирмы представляют интересы клиентов по ведению дел, касающихся всех вопросов, связанных с регистрацией прав на объекты интеллектуальной собственности
								.btn Мне сюда
							a(href="").services__item
								.services__item-img
									img(src="img/serv-3.svg", alt="")
								.services__item-title Защита товарных знаков
								.services__item-text Патентные поверенные нашей фирмы представляют интересы клиентов по ведению дел, касающихся всех вопросов, связанных с регистрацией прав на объекты интеллектуальной собственности
								.btn Мне сюда
				.accordion__item
					.accordion__item-top
						span.accordion-ico
							img(src="img/accordion-2.svg", alt="")
						span.accordion__item-title Защита бизнеса
						.accordion__item-arrow
					.accordion__item-bot
						.services__list
							a(href="").services__item
								.services__item-img
									img(src="img/serv-1.svg", alt="")
								.services__item-title Патентное право
								.services__item-text Патентные поверенные нашей фирмы представляют интересы клиентов по ведению дел, касающихся всех вопросов, связанных с регистрацией прав на объекты интеллектуальной собственности
								.btn Мне сюда
							a(href="").services__item
								.services__item-img
									img(src="img/serv-2.svg", alt="")
								.services__item-title Авторские права
								.services__item-text Патентные поверенные нашей фирмы представляют интересы клиентов по ведению дел, касающихся всех вопросов, связанных с регистрацией прав на объекты интеллектуальной собственности
								.btn Мне сюда
							a(href="").services__item
								.services__item-img
									img(src="img/serv-3.svg", alt="")
								.services__item-title Защита товарных знаков
								.services__item-text Патентные поверенные нашей фирмы представляют интересы клиентов по ведению дел, касающихся всех вопросов, связанных с регистрацией прав на объекты интеллектуальной собственности
								.btn Мне сюда
				.accordion__item
					.accordion__item-top
						span.accordion-ico
							img(src="img/accordion-3.svg", alt="")
						span.accordion__item-title Защита прав граждан
						.accordion__item-arrow
					.accordion__item-bot
						.text-page
							p Патентные поверенные нашей фирмы представляют интересы клиентов по ведению дел, касающихся всех вопросов, связанных с регистрацией прав на объекты интеллектуальной собственности
							p Патентные поверенные нашей фирмы представляют интересы клиентов по ведению дел, касающихся всех вопросов, связанных с регистрацией прав на объекты интеллектуальной собственности
							p Патентные поверенные нашей фирмы представляют интересы клиентов по ведению дел, касающихся всех вопросов, связанных с регистрацией прав на объекты интеллектуальной собственности
						
