footer.footer-cont
	.wrapper
		.footer-top
			.footer-logo
				img(src="img/logo-1.svg", alt="")
			.footer-menu
				ul.footer-menu__list
					li.footer-menu__item
						a(href="").footer-menu__link О компании
					li.footer-menu__item
						a(href="").footer-menu__link Физлицам
					li.footer-menu__item
						a(href="").footer-menu__link Юрлицам 
					li.footer-menu__item
						a(href="").footer-menu__link Судебная практика
					li.footer-menu__item
						a(href="").footer-menu__link Семинары 
					li.footer-menu__item
						a(href="").footer-menu__link Cми о нас
					li.footer-menu__item
						a(href="").footer-menu__link Блог юриста

		.footer-bot
			.footer-copy @2019 Юридическая компания<br> Гаврюшкин & Партнеры
			address.footer-address
				.footer-address__top Челябинск
				.footer-address__bot 
					div ул. Энтузиастов, 2, оф. 308
					div 
						a(href="") +7 (351) 908-42-66
			address.footer-address
				.footer-address__top Миасс
				.footer-address__bot 
					div пр. Автозаводцев, 47
					div 
						a(href="") +7 (922) 710-43-84
			.soc
				a.soc__link(href="#") 
					img(src="img/ico-vk.svg")
				a.soc__link(href="#") 
					img(src="img/ico-tw.svg")
				a.soc__link(href="#") 
					img(src="img/ico-insta.svg")

#sprite(style="display: none")
	<!-- Эту свг нужно вставлять инклюдом, т.к. она может меняться -->
	include ../symbol/sprite.svg
