.main-slider__cont
	.wrapper
		.main-slider-arrow

	.main-slider
		.main-slider__slide
			picture
				source(srcset="img/photos/main-slider-img.jpg" media="screen and (min-width: 481px)")
				source(srcset="img/photos/main-slider-img-1.jpg" media="screen and (max-width: 481px)")
				img
			.main-slider__slide-info-cont
				.wrapper
					.main-slider-info
						.main-slider__slide-title Нам важно решить вашу проблему, а не только выиграть суд
						.main-slider__slide-text Если Вы хотите развивать, защищать и эффективно использовать Вашу интеллектуальную собственность в России или странах СНГ, мы будем рады оказать вам услуги по следующим направлениям.
							