.ordering-form
	.ordering-form__title Оставьте заявку и мы поможем вам
	form(action="")
		.form-wrap
			.forms__input-cont
				input.forms__input(type="text" placeholder="Иванов Иван Иванович" required="")
				label.forms__label Ваше имя
				.forms__error-message
			.forms__input-cont
				input.forms__input(type="teд" placeholder="+7 (351) 000 00 00 " required="")
				label.forms__label Ваш телефон
				.forms__error-message
			.forms__input-cont
				input.forms__input(type="teд" placeholder="Введите текст" required="")
				label.forms__label Ваша проблема
				.forms__error-message
		.forms__bot
			.forms__submit
				input.btn(type="submit" value="Оcтавить заявку")
			.forms__req Нажимая на кнопку отправки сообщения, я соглашаюсь на обработку моих персональных данных

	
